#############################################################################
# DO NOT directly edit CONFIG.sample. Instead, make a copy (CONFIG) and edit
# that. 
# DO NOT directly edit make.def. Use the script - config2makedef.sh to generate
# the file.
#############################################################################

# path vals
ROOT="`pwd`/.."

BIN_PATH="${ROOT}/bin"


#for ALL TESTS
NPROCS="4"
NITER="3"
SLEEP="5"
TIMEOUT="90"


#OpenUH CAF Compiler
COMPILER="uhcaf"
FC="uhcaf"
FFLAGS="-ftpp -DNPROCS=${NPROCS} -DNITER=${NITER} -DSLEEP=${SLEEP}"
LAUNCHER="cafrun -n ${NPROCS}"
EXEC_OPTIONS=""
FFLAGS_CROSS=" $FFLAGS -DCROSS_ "


##Cray CAF Compiler
#COMPILER="crayftn"
#FC="crayftn"
#FFLAGS="-h caf -F -DNPROCS=${NPROCS} -DNITER=${NITER} -DSLEEP=${SLEEP}"
#LAUNCHER="aprun -n ${NPROCS} -N 1 "
#EXEC_OPTIONS=""
#FFLAGS_CROSS=" $FFLAGS -DCROSS_ "


##Intel CAF Compiler
#COMPILER="ifort"
#FC="ifort"
#FFLAGS="-coarray -coarray-num-images=4 -fpp -DNPROCS=${NPROCS} -DNITER=${NITER} -DSLEEP=${SLEEP}"
#LAUNCHER=
#EXEC_OPTIONS=""
#FFLAGS_CROSS=" $FFLAGS -DCROSS_ "


##GNU CAF Compiler
#COMPILER="gfortran"
#FC="gfortran"
#FFLAGS="-fcoarray=lib  -lcaf_mpi  -fpp -DNPROCS=${NPROCS} -DNITER=${NITER} -DSLEEP=${SLEEP}"
#LAUNCHER="mpiexec -n ${NPROCS}"
#EXEC_OPTIONS=""
#FFLAGS_CROSS=" $FFLAGS -DCROSS_ "


##G95 CAF Compiler
#COMPILER="g95"
#FC="g95"
#FFLAGS="-cpp -DNPROCS=${NPROCS} -DNITER=${NITER} -DSLEEP=${SLEEP}"
#LAUNCHER=
#EXEC_OPTIONS=" --g95 images=${NPROCS}"
#FFLAGS_CROSS=" $FFLAGS -DCROSS_ "

############# FILE-PATH VARIABLES #################
# Note: For the file path variables, LOG_PATH is same as the path for the test codes


#for CROSSCHECKED FEATURE TESTS
CC_FEATURE_COMPILE_PATH="${ROOT}/crosschecked_feature_tests/compile_output"
CC_FEATURE_EXEC_PATH="${ROOT}/crosschecked_feature_tests/exec_output"
CC_FEATURE_TEST_PATH="${ROOT}/crosschecked_feature_tests"
CC_FEATURE_LOG_PATH="${ROOT}/crosschecked_feature_tests"


#for FEATURE TESTS
FEATURE_COMPILE_PATH="${ROOT}/feature_tests/compile_output"
FEATURE_EXEC_PATH="${ROOT}/feature_tests/exec_output"
FEATURE_TEST_PATH="${ROOT}/feature_tests"
FEATURE_LOG_PATH="${ROOT}/feature_tests"


#for SPECIFIC TESTS
FEW_COMPILE_PATH="${ROOT}/few_tests/compile_output"
FEW_EXEC_PATH="${ROOT}/few_tests/exec_output"
FEW_TEST_PATH="${ROOT}/few_tests"
FEW_LOG_PATH="${ROOT}/few_tests"


#for STATUS TESTS
STATUS_COMPILE_PATH="${ROOT}/status_tests/compile_output"
STATUS_EXEC_PATH="${ROOT}/status_tests/exec_output"
STATUS_TEST_PATH="${ROOT}/status_tests"
STATUS_LOG_PATH="${ROOT}/status_tests"


##for NON-CONFORMANCE TESTS  (lacks full support)
#NONCONF_COMPILE_PATH="${ROOT}/nonconformance_tests/compile_output"
#NONCONF_EXEC_PATH="${ROOT}/nonconformance_tests/exec_output"
#NONCONF_LOG_PATH="${ROOT}/nonconformance_tests"


##E-mail stuff (lacks full support)
#SUBJ="Results of the CAF test suite with $COMPILER"
#LOGFILE=
#EMAIL_LIST=
#EMAIL_BODY="Results of the test suite with $COMPILER are attached -- OpenUH CAF Testsuite --"


